@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    background-color: whitesmoke;
    margin: auto;
}
main {
    width: 350px;
    background: whitesmoke;    
    font-weight: bold;
    padding: 20px 0;
    margin: auto;
}

p {
    margin: 0;
    text-align: center;
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    
}

section {
    padding-top: 20px;
    margin: 10px;
    text-align: center;
    display:inline-block;
}

div#logo{
    position:relative;
    display: inline-block;
    margin: auto;
    
    transform: translate(-50%, 0%);
    left: 50%;
}

.botao {
    display:inline-block;
    font-size: 0.8em;
    padding: 5px;
    margin: 06px;
    background-color: #ca9421;
    color: white;
    border: 1px solid rgb(15, 15, 15);
    border-radius: 5px;
    text-decoration: none; 
}

.botao:hover {
    background-color: #4A3D22;
    color:#E3BC68 ;
}

div#contatos {
    text-align: center;
}

.contatos-imagens {
    width: 50px;
    
}

a {
    text-decoration: none;
}


footer > a {
    text-decoration: none;
    color:black ;
    text-align: center;
}

footer > a:hover {
    color: #ca9421;
    text-decoration: underline;

}

footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 14px;
    text-align: center;
    
    margin-top: 20px;
}
