@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    background-color: whitesmoke;
}
main {
    background: whitesmoke;
    width: 387px;
    height: 800px;
    font-weight: bold;
    margin: auto;
    padding: 15px 5px;
    
}

main > p {
    text-align: center;
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    padding-left: 10px;
}

section {
    padding-top: 20px;
    margin: 10px;
    text-align: center;
    display:inline-block;
}

div#logo{
    position:relative;
    display: inline-block;
    margin: auto;
    
    transform: translate(-50%, 0%);
    left: 50%;
}

div.whats {
    display: inline-block;
    position: relative;

}

#whats {
    width: 50px;
    border-radius: 50%;
    float: right;
    
}

div.instagram {
    display: inline-block;
    position: relative;
}
#instagram {
    width: 90px;
}


.botao {
    display:inline-block;
    font-size: 0.8em;
    padding: 5px;
    margin: 06px;
    background-color: #ca9421;
    color: white;
    border: 1px solid rgb(15, 15, 15);
    border-radius: 5px;
    text-decoration: none; 
}

.botao:hover {
    background-color: #4A3D22;
    color:#E3BC68 ;
}

footer > a {
    text-decoration: none;
    color:black ;
    text-align: center;
}

footer > a:hover {
    color: #ca9421;
    text-decoration: underline;

}

footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 14px;
    text-align: center;
    
    margin-top: 50px ;

}
